# PostgreSQL configuration
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=langconnect_dev

# CORS configuration. Must be a JSON array of strings
ALLOW_ORIGINS=["http://localhost:3000", "http://localhost:8502"]

# Подключение к гигачату
LANGCONNECT_EMBEDDINGS=gigachat:EmbeddingsGigaR
GIGACHAT_CREDENTIALS=
GIGACHAT_SCOPE=
GIGACHAT_VERIFY_SSL_CERTS=0

# Секретный ключ для доступа в обход supabase
SECRET_TOKEN=123

# API ключ для openai (опционально)
OPENAI_API_KEY=

# Настройки SupaBase (опционально)
SUPABASE_URL=
SUPABASE_KEY=
